<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bitcoin Value Calculator</title>
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
  <div class="container">
    <h1 >💰Crypto to USD Calculator</h1>
    <form method="POST">
      <input type = "text" placeholder="Enter Coin Name" required name="coin">
      <input type = "number" placeholder="Enter Amount" required name="number">
      <button type="submit" >Get Price</button>

    </form>

    {% if result %}
      <p class="result">${{ result }}</p>
      
    {% endif %}
  </div>
</body>
</html>
